<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<h4>Categories</h4>
<% @post.categories.each do |category| %>
<ul>
  <li>
    <%= category.name %>
  </li>
</ul>
<% end %>

<h4>Comments</h4>
<% @post.users.uniq.each do |user| %>
<ul>
  <li>
    <%= link_to user.username, user_path(user) %> says:
      <% user.comments.each do |comment| %>
        <% if comment.post_id == @post.id %>
          <%= comment.content %>
        <% end %>
      <% end %>
  </li>
</ul>
<% end %>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label :new_comment %>
  <%= f.text_field :content %>

  <%= f.collection_select :user_id, User.all, :id, :username, prompt: true %><br>

  <%= f.fields_for :user, @post.users.build do |user_field| %>
    <%= user_field.label :new_user %>
    <%= user_field.text_field :username %>
  <% end %>

  <%= f.submit %>
  
<% end %>
